<script> pg_title = "About";  </script>
<div class="center_container">
  <h1 class="center centered">About</h1>
</div>

<div class="text_border" style="background-image: linear-gradient(var(--otc_5), white, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01), var(--tc_1), var(--tc_5), var(--tc_3) ); width: 85%; margin-left: 7%;">
<br/>
<br/>
<br/>
<hr/>
<div></div>

<div class="text_border" style="width: fit-content; background-color: rgba(255, 255, 255, 0.8); width: 85%; margin-left: 7%;">

 The application is aimed at small teams that wish to collaborate though an online service. The applicaiton offers an internal chat serivce that requires no internet connection and can therefore be safely used in an corporate environment. 

</div>

<br/>

<div class="text_border" style="width: fit-content; background-color: rgba(255, 255, 255, 0.8); width: 85%;margin-left: 7%;">

  The current features of the applicaiton include:
  <ol>
   <li> creating discussions by selecting the members from a dropdown containing users and entering a dicussion title </li>
   <li> user theming capabilities with predefined themes that ensure readability </li>
   <li> user creation, editing and deleting </li>
   <li> user dashboard that connects the user to most of the features of the application </li>
  </ol>

</div>

<br/>
<br/>
<br/>

<div class="center_container">
  <h3 class="center">Application screenshots</h3>
</div>

<div class="text_border" style="width: fit-content; background-color: rgba(255, 255, 255, 0.8);">
<table>
  <tr> 
    <td style="padding: 10px"> <img class="image_border" src="/images/discussion.jpg" style="width: 100%;" /> </td>
    <td style="padding: 10px"> <img class="image_border" src="/images/register.jpg" style="width: 100%;" /> </td>
  </tr>
  <tr> 
    <td style="padding: 10px"> <img class="image_border" src="/images/create_discussion.jpg" style="width: 100%;" /> </td>
    <td style="padding: 10px"> <img class="image_border" src="/images/dashboard.jpg" style="width: 100%;" /> </td>
  </tr>
</table>
</div>

<br/>

<div class="text_border" style="width: fit-content; background-color: rgba(255, 255, 255, 0.8); width: 95%;margin-left: 1.5%;">

  The application is also secure, as all the passwords it stores are encrypted. 
  <br/>
  <br/>
  The application might be designed for corporate use, but it can be used for personal use as well. 

</div>
</div>

<style>

  table tr td
  {
    border: 5px solid var(--tc_1);
    border-radius: 10px;
    background-color: var(--otc_5);
  }

</style>
