<script> pg_title = "Create Discussion"; localStorage.setItem("refresh", true);  // for all pages that would have to refresh after post </script>
<h2>Create Discussion</h2>
<div class="text_border" style="width: 32%; font-size: 17px;">
<form method="post" action="/discussions/create_discussion">
  <!-- check if the string values arrived to the front-end and convert them into front-end Js variables -->
  {{#if users}}
  <script>
  var users = `{{users}}`;
  var discussions = `{{discussions}}`;
  var user_id = `{{user_id}}`;
  var discussion_id = `{{discussion_id}}`;
  </script>
  {{/if}}
  <div id="e_title" style="margin-left: 5px; margin-bottom: 9px;"> Enter the discussion name: </div>
  <input id="e_name" title="Enter the name of the discussion" type="text" name="title" placeholder="Discussion name" style="width:calc(96% - 10px)"></input>
  <br/>
  <br/>


  <input id="e_id" type="text" name="id" style="display:none;">  </input>

  <div style="margin: 5px 0px 0px 5px;"> Members:<br/><span style="font-size: 10px;">(make sure you add yourself too)</span></div>
  
  <div id="dropdown_container">
    <input style="display:none;" type="text" name="ids" id="ids"> </input>
    <div id="selected_usernames"> </div>
    <select style="width:calc(100% - 2px)" id="discussion_maker">
    </select>
  </div>
  <table><tr>
  <td><div class="small_btn" id="add_user_btn"> + </div></td>
  <td><div class="small_btn" id="remove_user_btn"> - </div></td>
</tr></table>


  <div style="margin: 15px 0px 0px 5px;"> Banned users:<br/></div>
  <div id="banned_dropdown_container">
    <input style="display:none;" type="text" name="banned_ids" id="banned_ids"> </input>
    <div id="banned_usernames"> </div>
    <select style="width:calc(100% - 2px)" id="banned_users">
    </select>
  </div>
  <table><tr>
  <td><div class="small_btn" id="ban_user_btn"> + </div></td>
  <td><div class="small_btn" id="unban_user_btn"> - </div></td>
</tr></table>
  
  <script>

    restrictions_on = false; // theyll get toggled onload
    function toggle_restrictions()
    {
      e_name = document.getElementById("e_name");

      if ( restrictions_on == false )
        restrictions_on = true;
      else
        restrictions_on = false;

      if ( restrictions_on == true )
        e_name.setAttribute("required", "");

      if ( restrictions_on == false )
        e_name.removeAttribute("required");
    }
    toggle_restrictions();

  </script>

  <input onchange="toggle_restrictions()" type="checkbox" checked></input>
  <span style="margin-left: 10px;">Enable restrictions </span>
  <br/>
  <br/>
  <input id="e_submit" type="submit" value="Create discussion"></input>
</form>
</div>


<div class="text_border" style="width: fit-content; position: absolute; top: 169px; left: 35%; font-size: 17px;">

  Edit discussion

  <select onchange="fill_form(this)" id="edit_dropdown"> </select>

  <div style="height: 10px"></div>
  <hr/>
  <div style="height: 10px"></div>
  <form action="/discussions/delete_discussion" method="post">
  Delete Discussion

  <select name="id" id="delete_dropdown"> </select>

  <input type="submit" value="Delete" style="margin-top: 10px;"></input>

  </form>
</div>




<script>

  function remove_selected_user(e)
  {
    id = e.getAttribute("db_id");

    user_ids = ids_arr;
    u_arr = usernames_arr;


    ids_arr = [];

    iter = 0;
    for ( i = 0; i < user_ids.length; i = i + 1 )
    {
      if ( user_ids[i] != id )
        ids_arr.push(user_ids[i]);
      else
        iter = i;
    }

    usernames_arr = []

    for ( i = 0; i < u_arr.length; i = i + 1 )
      if ( i != iter )
        usernames_arr.push(u_arr[i]);

    fill_usernames_and_ids();
    fill_dropdown();
  }



  
  function remove_banned_user(e)
  {
    id = e.getAttribute("db_id");

    user_ids = banned_ids_arr;
    u_arr = banned_usernames_arr;


    banned_ids_arr = [];

    iter = 0;
    for ( i = 0; i < user_ids.length; i = i + 1 )
    {
      if ( user_ids[i] != id )
        banned_ids_arr.push(user_ids[i]);
      else
        iter = i;
    }

    banned_usernames_arr = []

    for ( i = 0; i < u_arr.length; i = i + 1 )
      if ( i != iter )
        banned_usernames_arr.push(u_arr[i]);

    fill_banned_usernames_and_ids();
    fill_banned_dropdown();
  }



  console.log("done");
  discussions = discussions.replace(/&quot;/g,'"') // always have to replace this for the strings sent to the front-end
  discussions = JSON.parse(discussions);

  console.log(discussions);

  console.log("done");
  edit_dropdown = document.getElementById("edit_dropdown");

  inner = "";
  iter = -1;
  for (i = 0; i < discussions.length; i = i + 1)
  {
    if ( String( discussion_id ) != "" && discussions[i].id == discussion_id )
    {
      inner = inner + "<option value=\"" + discussions[i].id + "\" selected>" + discussions[i].name + "</option>";
      iter = i;
      continue;
    }

  inner = inner + "<option value=\"" + discussions[i].id + "\" >" + discussions[i].name + "</option>";
  }

  edit_dropdown.innerHTML = "<option style=\"display:none\" disabled selected value> -- select -- </option>" + inner;
  

  delete_dropdown = document.getElementById("delete_dropdown");

  delete_dropdown.innerHTML = inner;





  users = users.replace(/&quot;/g,'"') // always have to replace this for the strings sent to the front-end
  users = JSON.parse(users);

  console.log(users);

  dropdown = document.getElementById("discussion_maker"); 
  selected_usernames = document.getElementById("selected_usernames");
  container = document.getElementById("dropdown_container");
  ids = document.getElementById("ids");
  banned_ids = document.getElementById("banned_ids");

  ids_arr = [];
  usernames_arr = [];
  
  // add the users to the dropdown, so that the user can make them members of the created discussion
  function fill_dropdown () 
  {
    inner = "";
    gets = 0;
    for (i = 0; i < users.length; i = i + 1)
    {
      if (ids_arr.includes( users[i].id )) // do not include already chosen users in the dropdown
        continue;
      inner = inner + "<option value=\"" + users[i].id + "\" >" + users[i].username + " ( " + users[i].name + " )</option>";
      gets = 1;
    }

    if (gets == 0) // hide the dropdown, if all the users were chosen as members of the discussion
      dropdown.style.display = "none";
    else
      dropdown.style.display = "initial";

    dropdown.innerHTML = inner;
  }

  // show the chosen users above the dropdown
  function fill_usernames_and_ids ()
  {
    inner = "";
    for (i = 0; i < usernames_arr.length; i = i + 1)
    {
      inner = inner + "<div db_id=\"" + ids_arr[i] + "\" onclick=\"remove_selected_user(this)\" class=\"chosen_user\">" + usernames_arr[i];
      inner = inner + "</div>";
    }
    selected_usernames.innerHTML = inner;

    v = "";
    for (i = 0; i < ids_arr.length; i = i + 1)
    {
      v = v + ids_arr[i];
      if (i != ids_arr.length - 1)
        v = v + ",";
    }
    ids.setAttribute("value", v); // all the id-s of the users that need to be added as member of the discussiona are stored in an <input type="text">, waiting to be sent to the backend though POST
  }

  add_user_btn = document.getElementById("add_user_btn");
  add_user_btn.addEventListener("click", function(){ // each time a new user is added as a member for the discussion, the dropdown has to be refilled (to exclude that user) and their id needs be added to the <iput type="text"> that contains all chosen user ids
    ids_arr.push(dropdown.options[dropdown.selectedIndex].value);
    usernames_arr.push(dropdown.options[dropdown.selectedIndex].text);

    fill_usernames_and_ids();
    fill_dropdown();
    console.log(ids_arr);
  });

  remove_user_btn = document.getElementById("remove_user_btn");
  remove_user_btn.addEventListener("click", function(){ // just like adding users, but the last user is removed from the -d and username arrays, leading to the dropdown being refilled and the chosen user elemnts being remade
    ids_arr.splice(-1);
    usernames_arr.splice(-1);

    fill_usernames_and_ids();
    fill_dropdown();
    console.log(ids_arr);
  });

  // fill the dropdown initially
  fill_dropdown();
  fill_usernames_and_ids(); // does this even have to be here?

  e_name = document.getElementById("e_name");
  e_title = document.getElementById("e_title");
  e_submit = document.getElementById("e_submit");

  function fill_form(e)
  {
    ids_arr.splice(0, ids_arr.length);
    usernames_arr.splice(0, usernames_arr.length);
    banned_ids_arr.splice(0, banned_ids_arr.length);
    banned_usernames_arr.splice(0, banned_usernames_arr.length);

    d = discussions[e.selectedIndex-1];

    e_name.value = d.name;
    e_title.innerHTML = "<b>Edit</b> the discussion name:";
    e_submit.value = "Update discussion";
    e_id.value = d.id;

    m = d.members.split(',');

    for ( i = 0; i < users.length; i = i + 1 )
      if ( m.includes(users[i].id) )
      {
        ids_arr.push(users[i].id);
        usernames_arr.push(users[i].username + " ( " + users[i].name + " )");
      }

    console.log(ids_arr);
    console.log(usernames_arr);

    fill_dropdown();
    fill_usernames_and_ids();


    bu = d.banned_users.split(',');

    for ( i = 0; i < users.length; i = i + 1 )
      if ( bu.includes(users[i].id) )
      {
        banned_ids_arr.push(users[i].id);
        banned_usernames_arr.push(users[i].username + " ( " + users[i].name + " )");
      }

    console.log(banned_ids_arr);
    console.log(banned_usernames_arr);

    fill_banned_dropdown();
    fill_banned_usernames_and_ids();

  }












  banned_dropdown = document.getElementById("banned_users"); 
  banned_usernames = document.getElementById("banned_usernames");
  banned_container = document.getElementById("banned_dropdown_banned_container");
  ids = document.getElementById("ids");

  banned_ids_arr = [];
  banned_usernames_arr = [];
  
  // add the users to the banned dropdown, so that the user can ban them from the created discussion
  function fill_banned_dropdown () 
  {
    inner = "";
    gets = 0;
    for (i = 0; i < users.length; i = i + 1)
    {
      if (banned_ids_arr.includes( users[i].id )) // do not include already chosen users in the banned_dropdown
        continue;
      inner = inner + "<option value=\"" + users[i].id + "\" >" + users[i].username + " ( " + users[i].name + " )</option>";
      gets = 1;
    }

    if (gets == 0) // hide the banned_dropdown, if all the users were chosen as members of the discussion
      banned_dropdown.style.display = "none";
    else
      banned_dropdown.style.display = "initial";

    banned_dropdown.innerHTML = inner;
  }

  // show the chosen users above the banned_dropdown
  function fill_banned_usernames_and_ids ()
  {
    inner = "";
    for (i = 0; i < banned_usernames_arr.length; i = i + 1)
    {
      inner = inner + "<div db_id=\"" + banned_ids_arr[i] + "\" onclick=\"remove_banned_user(this)\" class=\"banned_user\">" + banned_usernames_arr[i];
      inner = inner + "</div>";
    }
    banned_usernames.innerHTML = inner;

    v = "";
    for (i = 0; i < banned_ids_arr.length; i = i + 1)
    {
      v = v + banned_ids_arr[i];
      if (i != banned_ids_arr.length - 1)
        v = v + ",";
    }
    banned_ids.setAttribute("value", v); // all the id-s of the users that need to be added as member of the discussiona are stored in an <input type="text">, waiting to be sent to the backend though POST
  }

  ban_user_btn = document.getElementById("ban_user_btn");
  ban_user_btn.addEventListener("click", function(){ // each time a new user is added as a member for the discussion, the banned_dropdown has to be refilled (to exclude that user) and their id needs be added to the <iput type="text"> that contains all chosen user ids
    banned_ids_arr.push(banned_dropdown.options[banned_dropdown.selectedIndex].value);
    banned_usernames_arr.push(banned_dropdown.options[banned_dropdown.selectedIndex].text);

    fill_banned_usernames_and_ids();
    fill_banned_dropdown();
    console.log(banned_ids_arr);
  });

  unban_user_btn = document.getElementById("unban_user_btn");
  unban_user_btn.addEventListener("click", function(){ // just like adding users, but the last user is removed from the -d and username arrays, leading to the banned_dropdown being refilled and the chosen user elemnts being remade
    banned_ids_arr.splice(-1);
    banned_usernames_arr.splice(-1);

    fill_banned_usernames_and_ids();
    fill_banned_dropdown();
    console.log(banned_ids_arr);
  });

  // fill the banned_dropdown initially
  fill_banned_dropdown();
  fill_banned_usernames_and_ids(); // does this even have to be here?


  if ( String(discussion_id) != "" )
  {
    ids_arr.splice(0, ids_arr.length);
    usernames_arr.splice(0, usernames_arr.length);
    banned_ids_arr.splice(0, banned_ids_arr.length);
    banned_usernames_arr.splice(0, banned_usernames_arr.length);

    d = discussions[iter];

    e_name.value = d.name;
    e_title.innerHTML = "<b>Edit</b> the discussion name:";
    e_submit.value = "Update discussion";
    e_id.value = d.id;

    m = d.members.split(',');

    for ( i = 0; i < users.length; i = i + 1 )
      if ( m.includes(users[i].id) )
      {
        ids_arr.push(users[i].id);
        usernames_arr.push(users[i].username + " ( " + users[i].name + " )");
      }

    console.log(ids_arr);
    console.log(usernames_arr);

    fill_dropdown();
    fill_usernames_and_ids();


    bu = d.banned_users.split(',');

    for ( i = 0; i < users.length; i = i + 1 )
      if ( bu.includes(users[i].id) )
      {
        banned_ids_arr.push(users[i].id);
        banned_usernames_arr.push(users[i].username + " ( " + users[i].name + " )");
      }

    console.log(banned_ids_arr);
    console.log(banned_usernames_arr);

    fill_banned_dropdown();
    fill_banned_usernames_and_ids();
  }

</script>

<style>

  .small_btn
  {
    border: 3px solid var(--tc_3);
    width: 15px;
    height: 15px;
    border-radius: 6px;
    text-align: center;
    font-size: 23px;
    padding: 4px 4px 5px 7px;
    color: var(--tc_3);
    background-color: rgba(255, 255, 255, 0.7);
    transition: 0.15s;
    display: block;
    margin: 7px 0px 7px 0px;
  }

  .small_btn:hover
  {
    color: var(--tc_1);
    border-color: var(--tc_1);
  }

  #dropdown_container
  {
    display: block;
  }

  .chosen_user, .banned_user
  {
    border: 3px solid var(--tc_2);
    border-radius: 7px;
    padding: 5px 7px;
    background-color: rgba(255, 255, 255, 0.65);
    width: fit-content;
    margin-top: 10px;
    transition: 0.15s;
    cursor: not-allowed;
  }

  .chosen_user:hover, .banned_user:hover { background-color: rgb(234, 123, 145);  }

  #add_user_btn, #ban_user_btn
  {
    padding: 3px 5px 8px 7px;
  }

  #remove_user_btn, #unban_user_btn
  {
    padding: 4px 4px 7px 7px;
    font-size: 27px;
    line-height:  23px;
  }

</style>
