<script> pg_title = "Help"; </script>
<h1>Help</h1>
<div class="text_border" style="width: fit-content; background-colour: rgba(255, 255, 255, 0.8);">

  <b class="qa">Q:</b> How do I change the theme of the application?
  <br/>
  <br/>
  <b class="qa">A:</b> Easy, you just go to your dashboard and select a colour from the colour picker placed under "Select colour". In order to adjust the shades of the selected colour you must use the close-by slider. As such, you have created a new theme for the application which you can now use. An easier alternative is to just select a theme from the buttons named "Theme 1" to "Theme 3".

</div>

<br/>
<div class="text_border" style="width: fit-content; background-colour: rgba(255, 255, 255, 0.8);">

  <b class="qa">Q:</b> Why can I not change my password?
  <br/>
  <br/>
  <b class="qa">A:</b> Even if it is actually possible to change user passwords, they have to meet the same criteria that the initial passwords had to meet. As such, the new password needs to have at least <b> 8 </b> letters and contain at least <b> one digit </b> and <b> one uppercase letter</b>.

</div>

<br/>
<div class="text_border" style="width: fit-content; background-colour: rgba(255, 255, 255, 0.8);">

  <b class="qa">Q:</b> How do i make sure I logged out?
  <br/>
  <br/>
  <b class="qa">A:</b> After pressing the logout button (located in the top right of the page, on the nav panel), you are logged out. In order to check, you might want to attempt going to your dashboard by using your browser's history. If the dashboard does not load, that means you are 100% logged out. 

</div>

<br/>
<div class="text_border" style="width: fit-content; background-colour: rgba(255, 255, 255, 0.8);">

  <b class="qa">Q:</b> Why can i not change my username?
  <br/>
  <br/>
  <b class="qa">A:</b> Even if usernames can be changed in the "Edit user" page linked on the dashboard, they have to be unique. The reason why your newly chosen username was rejected is that comebody else has chosen it before you. As such, your old username is still in effect until you enter a new username that was not taken.

</div>

<br/>
<div class="text_border" style="width: fit-content; background-colour: rgba(255, 255, 255, 0.8);">

  <b class="qa">Q:</b> Why can I not change my email?
  <br/>
  <br/>
  <b class="qa">A:</b> Emails must follow a "address@email.com" structure, or they will not be be saved along with your other user data. As such, you must follow the structure and use a real, valid email address. The application will check that your email address is real by sending you a confirmation email. Such measures will be put in place soon.

</div>

<br/>
<div class="text_border" style="width: fit-content; background-colour: rgba(255, 255, 255, 0.8);">

  <b class="qa">Q:</b> Why was my user deleted?
  <br/>
  <br/>
  <b class="qa">A:</b> Moderators announce admins about accounts that do not match the identity of the person that is using them. This usually happens when the user data is not credible / realistic (as in your firstname is "firstname" instead of the real one). If the owners of the application server wanted to monitor their users to be precisely who they claim to be, actions will be taken to ensure such rigurosity. The application or its makers are not responsible for any deletion done by the owners of the application server (the client the application was sold to). Also, the application does not delete users automatically.

</div>

<br/>
<div class="text_border" style="width: fit-content; background-colour: rgba(255, 255, 255, 0.8);">

  <b class="qa">Q:</b> Why did some of my messages just dissapear?
  <br/>
  <br/>
  <b class="qa">A:</b> That would be because you hid them previously or because a moderator found them inappropriate. A new feature will soon be implemented to allow users to hide and view the messages they have hidden, on demand.

</div>