<script> pg_title = "Maintenance"; </script>

<div class="center_container">
<h3 class="centered center">Maintenance</h3>
<div class="text_border center" style="width: fit-content; background-color: rgba(255, 255, 255, 0.8); padding: 15px; top: 250px; display: inline-block; font-size: 25px;">

  <img src="/images/edit.png" width=200 class="center" />
  <br/><br/>
  <br/><br/>
  <br/><br/>
  <br/><br/>
  <br/><br/>
  <br/><br/>
  <br/><br/>

  
  We are sorry, but, at the moment we are performing maintenance on this website. <br/>Thank you for understanding!


  </div>
</div>
</div>

<div style="height: 440px"></div>

<style>

  h3 
  {
    z-index: 10000;
    width: 45% !important;
    text-align: center;
    padding: 10px 5% !important;
  }

  #prev
  {
    text-decoration: underline;
    cursor: pointer;
    display: inline-block;
  }


</style>